<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="color-scheme" content="light dark">
{% include csp.html %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.orange.min.css">
<link rel="stylesheet" href="/styles/site.css">
<link rel="icon" type="image/svg+xml" sizes="any" href="/flatsphere-logo-static.svg">
<link rel="alternate" type="application/atom+xml" title="Flatsphere blog" href="/feed.xml">

{% seo %}

<script defer src="https://cloud.umami.is/script.js" data-website-id="55475bae-f03e-4870-b444-3c81d0cb28bc" data-domains="flatsphere.dev,www.flatsphere.dev"></script>
